@page "/employees"
@using BankDatabase
@using BankDatabase.Enums
@using BankDatabase.Entities
@using BankDatabase.Repositories
@using BankDatabase.Abstractions.Cron;
@using BankDatabase.Infostructure.Currents;
@using BankDatabase.Infostructure.Mappers;
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer
@inject EmployeeRepository employeeRepository
@inject ILogger<Employees> Logger
@inject IDialogService DialogService

<MudDialogProvider />
<MudSnackbarProvider />

@if (pageState.Equals(PageState.Default))
{   
    <MudTable Items="entities" Hover="true" Elevation="0" 
              Dense="true" Square="true" Height="700" Loading="@isLoading" Style="width:1000px;">
        <ToolBarContent>
            <MudIconButton Disabled="isLoading" Icon="@Icons.Material.Filled.Refresh" Size="Size.Small" OnClick="@(() => Refresh())"></MudIconButton>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Age</MudTh>
            <MudTh>Cron Work Order</MudTh>
            <MudTh Style="text-align:right;">
                <MudIconButton Disabled="isLoading" Icon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="@(() => Add())"/>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Id</MudTd>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.Age</MudTd>
            <MudTd>@context.CronWorkOrder</MudTd>
            <MudTd Style="text-align:right;">
                <MudIconButton Disabled="isLoading" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" OnClick="@(() => StartEdit(context))" Class="ml-auto"/>
                <MudIconButton Disabled="isLoading" Size="Size.Small" Icon="@Icons.Material.Filled.Delete" OnClick="@(() => Delete(context))" Class="ml-auto"/>
            </MudTd>
        </RowTemplate>
    </MudTable>
}
else
{
    <MudPaper Elevation="0" Width="1200px;">
        <MudStack Row="true">
            <EditForm Model="@current" OnValidSubmit="@(() => Submit())">
                @if (pageState.Equals(PageState.Add))
                {
                    <MudText Typo="Typo.h5">Add Employee</MudText>
                }
                else if (pageState.Equals(PageState.Edit))
                {
                    <MudText Typo="Typo.h5">Edit Employee</MudText>
                    <MudTextField Margin="Margin.Dense" Style="width:300px;" ReadOnly="true" Variant="Variant.Outlined" Label="Id" @bind-Value="@current.Id" />
                }
                <DataAnnotationsValidator />
                <MudTextField Margin="Margin.Dense" Style="width:300px;" 
                              Variant="Variant.Outlined" Label="Name" 
                              For="@(() => current.Name)"
                              @bind-Value="@current.Name" />
                <MudTextField Margin="Margin.Dense" Style="width:300px;"
                              Variant="Variant.Outlined" 
                              For="@(() => current.Age)"
                              Label="Age" @bind-Value="@current.Age" />
                <MudTextField Margin="Margin.Dense" Style="width:300px;"
                              Variant="Variant.Outlined" 
                              ReadOnly="true"
                              Label="Cron Work Order" @bind-Value="@current.CronWorkOrder" />
                <MudStack Row="true" Spacing="3">
                    <MudButton OnClick="@(() => Cancel())" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">
                        @if (pageState.Equals(PageState.Add))
                        {
                            <MudText Typo="Typo.button">Add</MudText>
                        }
                        else if (pageState.Equals(PageState.Edit)) 
                        {
                            <MudText Typo="Typo.button">Edit</MudText>
                        }
                    </MudButton>
                </MudStack>
            </EditForm>
            <MudStack Spacing="5" Style="width:70%; margin-left:20px;">
                <MudStack>
                    <MudStack Row="true">
                        <MudText Style="width:50px;" Typo="Typo.h5">Week</MudText>
                        <MudRadioGroup Style="width:250px; margin:0 10px 0 20px;" @bind-Value="cronHandler.WeekDays.CronType" T="CronType">
                            <MudRadio Value="CronType.Enum" Size="MudBlazor.Size.Small">Enum</MudRadio>
                            <MudRadio Value="CronType.Range" Size="MudBlazor.Size.Small">Range</MudRadio>
                        </MudRadioGroup>
                        <div>
                            <MudTextField @bind-Value="@cronHandler.WeekDays.ValueInput" Variant="Variant.Outlined"
                                          Label="a-b/a,b,c,d" OnKeyDown="@((k) => OnCronInputEnter(k, cronHandler.WeekDays))" Immediate="true"
                                          Error="@cronHandler.WeekDays.ValueInputError" ErrorText="@cronHandler.WeekDays.ValueInputErrorText"
                                          Margin="Margin.Dense" Style="width:200px;" />
                        </div>
                        <MudIconButton Icon="@Icons.Material.Filled.Backspace" OnClick="@(() => OnClearCronClick(cronHandler.WeekDays))" />
                    </MudStack>
                    <MudStack Row="true" Spacing="4" Wrap="Wrap.Wrap" AlignItems="AlignItems.Start" Justify="Justify.FlexStart">
                        @foreach (var wd in cronHandler.WeekDays.AllValues)
                        {
                            <MudButton Class="pr-3" Variant="Variant.Filled" Color="@(cronHandler.GetCronRowButtonStyle(wd, cronHandler.WeekDays))"
                                       OnClick="@(() => OnCronRowButtonClick(@wd, cronHandler.WeekDays))">@wd</MudButton>
                        }
                    </MudStack>
                </MudStack>
                <MudStack Row="true" Justify="Justify.FlexStart">
                    <MudText Style="width:320px; margin-right:20px;" Typo="Typo.h5">Month Day</MudText>
                    <div>
                        <MudTextField @bind-Value="@cronHandler.MonthDays.ValueInput" Variant="Variant.Outlined"
                                      Label="a-b/a,b,c,d" OnKeyDown="@((k) => OnCronInputEnter(k, cronHandler.MonthDays))" Immediate="true"
                                      Error="cronHandler.MonthDays.ValueInputError" ErrorText="@cronHandler.MonthDays.ValueInputErrorText"
                                      Margin="Margin.Dense" Style="width:200px;" />
                    </div>
                    <MudIconButton Icon="@Icons.Material.Filled.Backspace" OnClick="@(() => OnClearCronClick(cronHandler.MonthDays))" />
                </MudStack>
                <MudStack Row="true" Justify="Justify.FlexStart">
                    <MudText Style="width:320px; margin-right:20px;" Typo="Typo.h5">Hour</MudText>
                    <div>
                        <MudTextField @bind-Value="@cronHandler.Hours.ValueInput" Variant="Variant.Outlined"
                                      Label="a-b/a,b,c,d" OnKeyDown="@((k) => OnCronInputEnter(k, cronHandler.Hours))" Immediate="true"
                                      Error="@cronHandler.Hours.ValueInputError" ErrorText="@cronHandler.Hours.ValueInputErrorText"
                                      Margin="Margin.Dense" Style="width:200px;" />
                    </div>
                    <MudIconButton Icon="@Icons.Material.Filled.Backspace" OnClick="@(() => OnClearCronClick(cronHandler.Hours))" />
                </MudStack>
                <MudStack Row="true" Justify="Justify.FlexStart">
                    <MudText Style="width:320px; margin-right:20px;" Typo="Typo.h5">Minute</MudText>
                    <div>
                        <MudTextField @bind-Value="@cronHandler.Minutes.ValueInput" Variant="Variant.Outlined"
                                      Label="a-b/a,b,c,d" OnKeyDown="@((k) => OnCronInputEnter(k, cronHandler.Minutes))" Immediate="true"
                                      Error="@cronHandler.Minutes.ValueInputError" ErrorText="@cronHandler.Minutes.ValueInputErrorText"
                                      Margin="Margin.Dense" Style="width:200px;" />
                    </div>
                    <MudIconButton Icon="@Icons.Material.Filled.Backspace" OnClick="@(() => OnClearCronClick(cronHandler.Minutes))" />
                </MudStack>
            </MudStack>
        </MudStack>
    </MudPaper>
}


@code {
    private PageState pageState;
    private bool isLoading = false;
    private List<EmployeeEntity> entities = new List<EmployeeEntity>();
    private CurrentEmployee current = new CurrentEmployee();
    public CronHandler cronHandler;
    public EmployeeMapper mapper = new EmployeeMapper();

    protected override async Task OnInitializedAsync()
    {
        pageState = PageState.Default;

        cronHandler = new CronHandler(Logger);

        entities = employeeRepository.GetAll();
        StateHasChanged();
    }

    private async Task Submit()
    {
        switch (pageState)
        {
            case PageState.Add: await Add(); break;
            case PageState.Edit: await ContinueEdit(); break;
        }
    }

    private async Task Add()
    {
        if (pageState.Equals(PageState.Default))
        {
            pageState = PageState.Add;
        }
        else if (pageState.Equals(PageState.Add))
        {
            var dialog = await OpenDialog(Dialog.ConfirmAdd);

            if (!dialog?.Canceled ?? false) 
            {
                try
                {
                    var entity = new EmployeeEntity();
                    mapper.ApplyToEntity(entity, current);

                    employeeRepository.Add(entity);

                    await UpdateLocalData();
                }
                catch (Exception ex)
                {
                    Logger.LogError(ex.StackTrace + Environment.NewLine + ex.Message);
                }

                DisposeUI();
            }

        }

    }

    private void StartEdit(EmployeeEntity entity)
    {
        if (pageState.Equals(PageState.Default))
        {
            current = mapper.ToCurrent(entity);

            if (!cronHandler.ApplyCronOnSelectedValues(current.CronWorkOrder))
            {
                current.CronWorkOrder = CronHandler.EmptyCronString;
            }

            pageState = PageState.Edit;
        }
    }

    private async Task ContinueEdit()
    {
        if (pageState.Equals(PageState.Edit))
        {
            var dialog = await OpenDialog(Dialog.ConfirmEdit);

            if (!dialog?.Canceled ?? false)
            {
                try
                {
                    var entity = entities.First(x => x.Id == current.Id);

                    mapper.ApplyToEntity(entity, current);

                    employeeRepository.Update(entity);

                    await UpdateLocalData();

                    StateHasChanged();
                }
                catch (Exception ex) 
                {
                    Logger.LogError(ex.StackTrace + Environment.NewLine + ex.Message);
                }

                DisposeUI();
            }
        }
    }

    private async Task Delete(EmployeeEntity entity)
    {
        var dialog = await OpenDialog(Dialog.ConfirmDelete);

        if (!dialog?.Canceled ?? false)
        {
            employeeRepository.Delete(entity);
            await UpdateLocalData();
        }
    }

    private async Task Cancel()
    {
        var dialog = await OpenDialog(Dialog.ConfirmCancel);

        if (!dialog?.Canceled ?? false)
        {
            DisposeUI();
        }
    }

    private async Task Refresh()
    {
        await UpdateLocalData();

        await InvokeAsync(StateHasChanged);
    }

    private async Task UpdateLocalData()
    {
        isLoading = true;

        entities = employeeRepository.GetAll();

        isLoading = false;

        await InvokeAsync(StateHasChanged);
    }

    private void DisposeUI()
    {
        pageState = PageState.Default;

        current = new CurrentEmployee();

        cronHandler = new CronHandler(Logger);

        current.CronWorkOrder = CronHandler.EmptyCronString;

        StateHasChanged();
    }

    public async Task OnCronInputEnter(KeyboardEventArgs keyboardEventArgs, CronHandler.CronCategory cronCategory)
    {
        if (keyboardEventArgs.Key == "Enter")
        {
            current.CronWorkOrder = cronHandler.HandleCronInput(current.CronWorkOrder, cronCategory);

            await InvokeAsync(StateHasChanged);
        }
    }

    private void OnClearCronClick(CronHandler.CronCategory cronCategory)
    {
        current.CronWorkOrder = cronHandler.GetClearedCron(current.CronWorkOrder, cronCategory);

        StateHasChanged();
    }

    private void OnCronRowButtonClick(string data, CronHandler.CronCategory cronCategory)
    {
        current.CronWorkOrder = cronHandler.HandleCronClick(data, current.CronWorkOrder, cronCategory);

        StateHasChanged();
    }

    public async Task<DialogResult?> OpenDialog(Enums.Dialog dialog)
    {
        IDialogReference window = default!;

        switch (dialog)
        {
            case Enums.Dialog.ConfirmAdd: window = await DialogService.ShowAsync<Dialogs.ConfirmAdd>(); break;
            case Enums.Dialog.ConfirmEdit: window = await DialogService.ShowAsync<Dialogs.ConfirmEdit>(); break;
            case Enums.Dialog.ConfirmDelete: window = await DialogService.ShowAsync<Dialogs.ConfirmDelete>(); break;
            case Enums.Dialog.ConfirmCancel: window = await DialogService.ShowAsync<Dialogs.ConfirmCancel>(); break;
        }

        var result = await window.Result;

        return result;
    }
}
